@{
    ViewBag.Title = "Contactos";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
	<p>Stand Automóvel</p>
    <address>
        Nome : João Alves<br />
        Numero : 19262<br />
        Instituto Politecnico de Tomar
    </address>
   
</div>