@{
	ViewBag.Title = "Stand";
}

<div>
	
			foreach (var imagem in Model.Imagens)
			{
				<div>
					<a href="~/fotos/@imagem.Fotografia">
						<img src="~/fotos/@imagem.Fotografia" />
					</a>
				</div>
	
			}
		}
	
</div>

