@{
    ViewBag.Title = "Confirmaçao de eliminação da palavra pass";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        A sua palavra pass foi eliminada.Por favor@Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
